<div class="login-container">
  <div class="wrapper">
    <!-- login form start -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- email field start -->
      <div class="form-group">
        <mat-form-field class="full-width">
          <input type="email" matInput placeholder="Email Address" formControlName="email" name="email" required>
          <mat-error *ngIf="f.email.errors && f.email.errors.required">
            Email is required
          </mat-error>
          <mat-error *ngIf="f.email.errors && f.email.errors.pattern && !f.email.errors.required">
            Email must be a valid email address.
          </mat-error>
        </mat-form-field>
      </div>
      <!-- email field end -->
      <!-- password field start -->
      <div class="form-group">
        <mat-form-field class="full-width">
          <input type="password" matInput placeholder="Password" formControlName="password" name="password" required>
          <mat-error *ngIf="f.password.errors && f.password.errors.required">
              Password is required
          </mat-error>
          <mat-error *ngIf="f.password.errors && f.password.errors.minlength && !f.password.errors.required">
              Password must be at least 6 characters long.
          </mat-error>
        </mat-form-field>
      </div>
      <!-- password field end -->
      <!-- login button start -->
      <div class="action">
        <button [disabled]="loading" mat-raised-button color="primary">
          <div *ngIf="!loading; else loadSpinnerEle">LOGIN</div>
          <ng-template #loadSpinnerEle>
            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
          </ng-template>
        </button>
      </div>
      <!-- login button end -->
    </form>
    <!-- login form end -->
  </div>
</div>
